* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/*
const profile = {
  login: "khan4527",
  id: 112844940,
  node_id: "U_kgDOBrngjA",
  avatar_url: "https://avatars.githubusercontent.com/u/112844940?v=4",
  gravatar_id: "",
  url: "https://api.github.com/users/khan4527",
  html_url: "https://github.com/khan4527",
  followers_url: "https://api.github.com/users/khan4527/followers",
  following_url:
    "https://api.github.com/users/khan4527/following{/other_user}",
  gists_url: "https://api.github.com/users/khan4527/gists{/gist_id}",
  starred_url: "https://api.github.com/users/khan4527/starred{/owner}{/repo}",
  subscriptions_url: "https://api.github.com/users/khan4527/subscriptions",
  organizations_url: "https://api.github.com/users/khan4527/orgs",
  repos_url: "https://api.github.com/users/khan4527/repos",
  events_url: "https://api.github.com/users/khan4527/events{/privacy}",
  received_events_url:
    "https://api.github.com/users/khan4527/received_events",
  type: "User",
  site_admin: false,
  name: "Ahmad Khan",
  company: null,
  blog: "https://khan4527.github.io/",
  location: "Thane, Maharashtra",
  email: null,
  hireable: null,
  bio: "Analytical and detail-oriented aspiring full stack web developer, capable of writing production-ready code using react, javascript, and redux on the front end, ",
  twitter_username: null,
  public_repos: 9,
  public_gists: 0,
  followers: 85,
  following: 73,
  created_at: "2022-09-05T05:12:34Z",
  updated_at: "2023-01-08T06:14:55Z",
};

const repo = [
  {
    id: 586748600,
    node_id: "R_kgDOIvkSuA",
    name: "next-portfolio-eval",
    full_name: "khan4527/next-portfolio-eval",
    private: false,
    owner: {
      login: "khan4527",
      id: 112844940,
      node_id: "U_kgDOBrngjA",
      avatar_url: "https://avatars.githubusercontent.com/u/112844940?v=4",
      gravatar_id: "",
      url: "https://api.github.com/users/khan4527",
      html_url: "https://github.com/khan4527",
      followers_url: "https://api.github.com/users/khan4527/followers",
      following_url:
        "https://api.github.com/users/khan4527/following{/other_user}",
      gists_url: "https://api.github.com/users/khan4527/gists{/gist_id}",
      starred_url:
        "https://api.github.com/users/khan4527/starred{/owner}{/repo}",
      subscriptions_url:
        "https://api.github.com/users/khan4527/subscriptions",
      organizations_url: "https://api.github.com/users/khan4527/orgs",
      repos_url: "https://api.github.com/users/khan4527/repos",
      events_url: "https://api.github.com/users/khan4527/events{/privacy}",
      received_events_url:
        "https://api.github.com/users/khan4527/received_events",
      type: "User",
      site_admin: false,
    },
    html_url: "https://github.com/khan4527/next-portfolio-eval",
    description: null,
    fork: false,
    url: "https://api.github.com/repos/khan4527/next-portfolio-eval",
    forks_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/forks",
    keys_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/keys{/key_id}",
    collaborators_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/collaborators{/collaborator}",
    teams_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/teams",
    hooks_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/hooks",
    issue_events_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/issues/events{/number}",
    events_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/events",
    assignees_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/assignees{/user}",
    branches_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/branches{/branch}",
    tags_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/tags",
    blobs_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/git/blobs{/sha}",
    git_tags_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/git/tags{/sha}",
    git_refs_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/git/refs{/sha}",
    trees_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/git/trees{/sha}",
    statuses_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/statuses/{sha}",
    languages_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/languages",
    stargazers_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/stargazers",
    contributors_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/contributors",
    subscribers_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/subscribers",
    subscription_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/subscription",
    commits_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/commits{/sha}",
    git_commits_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/git/commits{/sha}",
    comments_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/comments{/number}",
    issue_comment_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/issues/comments{/number}",
    contents_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/contents/{+path}",
    compare_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/compare/{base}...{head}",
    merges_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/merges",
    archive_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/{archive_format}{/ref}",
    downloads_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/downloads",
    issues_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/issues{/number}",
    pulls_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/pulls{/number}",
    milestones_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/milestones{/number}",
    notifications_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/notifications{?since,all,participating}",
    labels_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/labels{/name}",
    releases_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/releases{/id}",
    deployments_url:
      "https://api.github.com/repos/khan4527/next-portfolio-eval/deployments",
    created_at: "2023-01-09T06:09:01Z",
    updated_at: "2023-01-09T06:12:49Z",
    pushed_at: "2023-01-09T06:12:44Z",
    git_url: "git://github.com/khan4527/next-portfolio-eval.git",
    ssh_url: "git@github.com:khan4527/next-portfolio-eval.git",
    clone_url: "https://github.com/khan4527/next-portfolio-eval.git",
    svn_url: "https://github.com/khan4527/next-portfolio-eval",
    homepage: null,
    size: 118,
    stargazers_count: 0,
    watchers_count: 0,
    language: "CSS",
    has_issues: true,
    has_projects: true,
    has_downloads: true,
    has_wiki: true,
    has_pages: true,
    has_discussions: false,
    forks_count: 0,
    mirror_url: null,
    archived: false,
    disabled: false,
    open_issues_count: 0,
    license: null,
    allow_forking: true,
    is_template: false,
    web_commit_signoff_required: false,
    topics: [],
    visibility: "public",
    forks: 0,
    open_issues: 0,
    watchers: 0,
    default_branch: "main",
    score: 1,
  },
  {
    id: 586431674,
    node_id: "R_kgDOIvQ8ug",
    name: "khan4527",
    full_name: "khan4527/khan4527",
    private: false,
    owner: {
      login: "khan4527",
      id: 112844940,
      node_id: "U_kgDOBrngjA",
      avatar_url: "https://avatars.githubusercontent.com/u/112844940?v=4",
      gravatar_id: "",
      url: "https://api.github.com/users/khan4527",
      html_url: "https://github.com/khan4527",
      followers_url: "https://api.github.com/users/khan4527/followers",
      following_url:
        "https://api.github.com/users/khan4527/following{/other_user}",
      gists_url: "https://api.github.com/users/khan4527/gists{/gist_id}",
      starred_url:
        "https://api.github.com/users/khan4527/starred{/owner}{/repo}",
      subscriptions_url:
        "https://api.github.com/users/khan4527/subscriptions",
      organizations_url: "https://api.github.com/users/khan4527/orgs",
      repos_url: "https://api.github.com/users/khan4527/repos",
      events_url: "https://api.github.com/users/khan4527/events{/privacy}",
      received_events_url:
        "https://api.github.com/users/khan4527/received_events",
      type: "User",
      site_admin: false,
    },
    html_url: "https://github.com/khan4527/khan4527",
    description: null,
    fork: false,
    url: "https://api.github.com/repos/khan4527/khan4527",
    forks_url: "https://api.github.com/repos/khan4527/khan4527/forks",
    keys_url: "https://api.github.com/repos/khan4527/khan4527/keys{/key_id}",
    collaborators_url:
      "https://api.github.com/repos/khan4527/khan4527/collaborators{/collaborator}",
    teams_url: "https://api.github.com/repos/khan4527/khan4527/teams",
    hooks_url: "https://api.github.com/repos/khan4527/khan4527/hooks",
    issue_events_url:
      "https://api.github.com/repos/khan4527/khan4527/issues/events{/number}",
    events_url: "https://api.github.com/repos/khan4527/khan4527/events",
    assignees_url:
      "https://api.github.com/repos/khan4527/khan4527/assignees{/user}",
    branches_url:
      "https://api.github.com/repos/khan4527/khan4527/branches{/branch}",
    tags_url: "https://api.github.com/repos/khan4527/khan4527/tags",
    blobs_url:
      "https://api.github.com/repos/khan4527/khan4527/git/blobs{/sha}",
    git_tags_url:
      "https://api.github.com/repos/khan4527/khan4527/git/tags{/sha}",
    git_refs_url:
      "https://api.github.com/repos/khan4527/khan4527/git/refs{/sha}",
    trees_url:
      "https://api.github.com/repos/khan4527/khan4527/git/trees{/sha}",
    statuses_url:
      "https://api.github.com/repos/khan4527/khan4527/statuses/{sha}",
    languages_url: "https://api.github.com/repos/khan4527/khan4527/languages",
    stargazers_url:
      "https://api.github.com/repos/khan4527/khan4527/stargazers",
    contributors_url:
      "https://api.github.com/repos/khan4527/khan4527/contributors",
    subscribers_url:
      "https://api.github.com/repos/khan4527/khan4527/subscribers",
    subscription_url:
      "https://api.github.com/repos/khan4527/khan4527/subscription",
    commits_url:
      "https://api.github.com/repos/khan4527/khan4527/commits{/sha}",
    git_commits_url:
      "https://api.github.com/repos/khan4527/khan4527/git/commits{/sha}",
    comments_url:
      "https://api.github.com/repos/khan4527/khan4527/comments{/number}",
    issue_comment_url:
      "https://api.github.com/repos/khan4527/khan4527/issues/comments{/number}",
    contents_url:
      "https://api.github.com/repos/khan4527/khan4527/contents/{+path}",
    compare_url:
      "https://api.github.com/repos/khan4527/khan4527/compare/{base}...{head}",
    merges_url: "https://api.github.com/repos/khan4527/khan4527/merges",
    archive_url:
      "https://api.github.com/repos/khan4527/khan4527/{archive_format}{/ref}",
    downloads_url: "https://api.github.com/repos/khan4527/khan4527/downloads",
    issues_url:
      "https://api.github.com/repos/khan4527/khan4527/issues{/number}",
    pulls_url:
      "https://api.github.com/repos/khan4527/khan4527/pulls{/number}",
    milestones_url:
      "https://api.github.com/repos/khan4527/khan4527/milestones{/number}",
    notifications_url:
      "https://api.github.com/repos/khan4527/khan4527/notifications{?since,all,participating}",
    labels_url:
      "https://api.github.com/repos/khan4527/khan4527/labels{/name}",
    releases_url:
      "https://api.github.com/repos/khan4527/khan4527/releases{/id}",
    deployments_url:
      "https://api.github.com/repos/khan4527/khan4527/deployments",
    created_at: "2023-01-08T05:20:45Z",
    updated_at: "2023-01-08T05:20:45Z",
    pushed_at: "2023-01-08T07:25:35Z",
    git_url: "git://github.com/khan4527/khan4527.git",
    ssh_url: "git@github.com:khan4527/khan4527.git",
    clone_url: "https://github.com/khan4527/khan4527.git",
    svn_url: "https://github.com/khan4527/khan4527",
    homepage: null,
    size: 72,
    stargazers_count: 0,
    watchers_count: 0,
    language: null,
    has_issues: true,
    has_projects: true,
    has_downloads: true,
    has_wiki: true,
    has_pages: false,
    has_discussions: false,
    forks_count: 0,
    mirror_url: null,
    archived: false,
    disabled: false,
    open_issues_count: 0,
    license: null,
    allow_forking: true,
    is_template: false,
    web_commit_signoff_required: false,
    topics: [],
    visibility: "public",
    forks: 0,
    open_issues: 0,
    watchers: 0,
    default_branch: "main",
    score: 1,
  },
  {
    id: 584391125,
    node_id: "R_kgDOItUZ1Q",
    name: "khan4527.github.io",
    full_name: "khan4527/khan4527.github.io",
    private: false,
    owner: {
      login: "khan4527",
      id: 112844940,
      node_id: "U_kgDOBrngjA",
      avatar_url: "https://avatars.githubusercontent.com/u/112844940?v=4",
      gravatar_id: "",
      url: "https://api.github.com/users/khan4527",
      html_url: "https://github.com/khan4527",
      followers_url: "https://api.github.com/users/khan4527/followers",
      following_url:
        "https://api.github.com/users/khan4527/following{/other_user}",
      gists_url: "https://api.github.com/users/khan4527/gists{/gist_id}",
      starred_url:
        "https://api.github.com/users/khan4527/starred{/owner}{/repo}",
      subscriptions_url:
        "https://api.github.com/users/khan4527/subscriptions",
      organizations_url: "https://api.github.com/users/khan4527/orgs",
      repos_url: "https://api.github.com/users/khan4527/repos",
      events_url: "https://api.github.com/users/khan4527/events{/privacy}",
      received_events_url:
        "https://api.github.com/users/khan4527/received_events",
      type: "User",
      site_admin: false,
    },
    html_url: "https://github.com/khan4527/khan4527.github.io",
    description: null,
    fork: false,
    url: "https://api.github.com/repos/khan4527/khan4527.github.io",
    forks_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/forks",
    keys_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/keys{/key_id}",
    collaborators_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/collaborators{/collaborator}",
    teams_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/teams",
    hooks_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/hooks",
    issue_events_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/issues/events{/number}",
    events_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/events",
    assignees_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/assignees{/user}",
    branches_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/branches{/branch}",
    tags_url: "https://api.github.com/repos/khan4527/khan4527.github.io/tags",
    blobs_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/git/blobs{/sha}",
    git_tags_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/git/tags{/sha}",
    git_refs_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/git/refs{/sha}",
    trees_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/git/trees{/sha}",
    statuses_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/statuses/{sha}",
    languages_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/languages",
    stargazers_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/stargazers",
    contributors_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/contributors",
    subscribers_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/subscribers",
    subscription_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/subscription",
    commits_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/commits{/sha}",
    git_commits_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/git/commits{/sha}",
    comments_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/comments{/number}",
    issue_comment_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/issues/comments{/number}",
    contents_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/contents/{+path}",
    compare_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/compare/{base}...{head}",
    merges_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/merges",
    archive_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/{archive_format}{/ref}",
    downloads_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/downloads",
    issues_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/issues{/number}",
    pulls_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/pulls{/number}",
    milestones_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/milestones{/number}",
    notifications_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/notifications{?since,all,participating}",
    labels_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/labels{/name}",
    releases_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/releases{/id}",
    deployments_url:
      "https://api.github.com/repos/khan4527/khan4527.github.io/deployments",
    created_at: "2023-01-02T12:41:55Z",
    updated_at: "2023-01-02T12:44:06Z",
    pushed_at: "2023-01-08T05:23:35Z",
    git_url: "git://github.com/khan4527/khan4527.github.io.git",
    ssh_url: "git@github.com:khan4527/khan4527.github.io.git",
    clone_url: "https://github.com/khan4527/khan4527.github.io.git",
    svn_url: "https://github.com/khan4527/khan4527.github.io",
    homepage: null,
    size: 6956,
    stargazers_count: 0,
    watchers_count: 0,
    language: "JavaScript",
    has_issues: true,
    has_projects: true,
    has_downloads: true,
    has_wiki: true,
    has_pages: true,
    has_discussions: false,
    forks_count: 0,
    mirror_url: null,
    archived: false,
    disabled: false,
    open_issues_count: 0,
    license: null,
    allow_forking: true,
    is_template: false,
    web_commit_signoff_required: false,
    topics: [],
    visibility: "public",
    forks: 0,
    open_issues: 0,
    watchers: 0,
    default_branch: "master",
    score: 1,
  },
  {
    id: 585880723,
    node_id: "R_kgDOIuvUkw",
    name: "gitactions_assignment",
    full_name: "khan4527/gitactions_assignment",
    private: false,
    owner: {
      login: "khan4527",
      id: 112844940,
      node_id: "U_kgDOBrngjA",
      avatar_url: "https://avatars.githubusercontent.com/u/112844940?v=4",
      gravatar_id: "",
      url: "https://api.github.com/users/khan4527",
      html_url: "https://github.com/khan4527",
      followers_url: "https://api.github.com/users/khan4527/followers",
      following_url:
        "https://api.github.com/users/khan4527/following{/other_user}",
      gists_url: "https://api.github.com/users/khan4527/gists{/gist_id}",
      starred_url:
        "https://api.github.com/users/khan4527/starred{/owner}{/repo}",
      subscriptions_url:
        "https://api.github.com/users/khan4527/subscriptions",
      organizations_url: "https://api.github.com/users/khan4527/orgs",
      repos_url: "https://api.github.com/users/khan4527/repos",
      events_url: "https://api.github.com/users/khan4527/events{/privacy}",
      received_events_url:
        "https://api.github.com/users/khan4527/received_events",
      type: "User",
      site_admin: false,
    },
    html_url: "https://github.com/khan4527/gitactions_assignment",
    description: null,
    fork: false,
    url: "https://api.github.com/repos/khan4527/gitactions_assignment",
    forks_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/forks",
    keys_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/keys{/key_id}",
    collaborators_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/collaborators{/collaborator}",
    teams_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/teams",
    hooks_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/hooks",
    issue_events_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/issues/events{/number}",
    events_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/events",
    assignees_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/assignees{/user}",
    branches_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/branches{/branch}",
    tags_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/tags",
    blobs_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/git/blobs{/sha}",
    git_tags_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/git/tags{/sha}",
    git_refs_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/git/refs{/sha}",
    trees_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/git/trees{/sha}",
    statuses_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/statuses/{sha}",
    languages_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/languages",
    stargazers_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/stargazers",
    contributors_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/contributors",
    subscribers_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/subscribers",
    subscription_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/subscription",
    commits_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/commits{/sha}",
    git_commits_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/git/commits{/sha}",
    comments_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/comments{/number}",
    issue_comment_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/issues/comments{/number}",
    contents_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/contents/{+path}",
    compare_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/compare/{base}...{head}",
    merges_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/merges",
    archive_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/{archive_format}{/ref}",
    downloads_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/downloads",
    issues_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/issues{/number}",
    pulls_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/pulls{/number}",
    milestones_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/milestones{/number}",
    notifications_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/notifications{?since,all,participating}",
    labels_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/labels{/name}",
    releases_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/releases{/id}",
    deployments_url:
      "https://api.github.com/repos/khan4527/gitactions_assignment/deployments",
    created_at: "2023-01-06T10:32:33Z",
    updated_at: "2023-01-06T10:34:26Z",
    pushed_at: "2023-01-06T11:39:24Z",
    git_url: "git://github.com/khan4527/gitactions_assignment.git",
    ssh_url: "git@github.com:khan4527/gitactions_assignment.git",
    clone_url: "https://github.com/khan4527/gitactions_assignment.git",
    svn_url: "https://github.com/khan4527/gitactions_assignment",
    homepage: null,
    size: 292,
    stargazers_count: 0,
    watchers_count: 0,
    language: "CSS",
    has_issues: true,
    has_projects: true,
    has_downloads: true,
    has_wiki: true,
    has_pages: true,
    has_discussions: false,
    forks_count: 0,
    mirror_url: null,
    archived: false,
    disabled: false,
    open_issues_count: 0,
    license: null,
    allow_forking: true,
    is_template: false,
    web_commit_signoff_required: false,
    topics: [],
    visibility: "public",
    forks: 0,
    open_issues: 0,
    watchers: 0,
    default_branch: "master",
    score: 1,
  },
  {
    id: 585774661,
    node_id: "R_kgDOIuo2RQ",
    name: "next-app",
    full_name: "khan4527/next-app",
    private: false,
    owner: {
      login: "khan4527",
      id: 112844940,
      node_id: "U_kgDOBrngjA",
      avatar_url: "https://avatars.githubusercontent.com/u/112844940?v=4",
      gravatar_id: "",
      url: "https://api.github.com/users/khan4527",
      html_url: "https://github.com/khan4527",
      followers_url: "https://api.github.com/users/khan4527/followers",
      following_url:
        "https://api.github.com/users/khan4527/following{/other_user}",
      gists_url: "https://api.github.com/users/khan4527/gists{/gist_id}",
      starred_url:
        "https://api.github.com/users/khan4527/starred{/owner}{/repo}",
      subscriptions_url:
        "https://api.github.com/users/khan4527/subscriptions",
      organizations_url: "https://api.github.com/users/khan4527/orgs",
      repos_url: "https://api.github.com/users/khan4527/repos",
      events_url: "https://api.github.com/users/khan4527/events{/privacy}",
      received_events_url:
        "https://api.github.com/users/khan4527/received_events",
      type: "User",
      site_admin: false,
    },
    html_url: "https://github.com/khan4527/next-app",
    description: null,
    fork: false,
    url: "https://api.github.com/repos/khan4527/next-app",
    forks_url: "https://api.github.com/repos/khan4527/next-app/forks",
    keys_url: "https://api.github.com/repos/khan4527/next-app/keys{/key_id}",
    collaborators_url:
      "https://api.github.com/repos/khan4527/next-app/collaborators{/collaborator}",
    teams_url: "https://api.github.com/repos/khan4527/next-app/teams",
    hooks_url: "https://api.github.com/repos/khan4527/next-app/hooks",
    issue_events_url:
      "https://api.github.com/repos/khan4527/next-app/issues/events{/number}",
    events_url: "https://api.github.com/repos/khan4527/next-app/events",
    assignees_url:
      "https://api.github.com/repos/khan4527/next-app/assignees{/user}",
    branches_url:
      "https://api.github.com/repos/khan4527/next-app/branches{/branch}",
    tags_url: "https://api.github.com/repos/khan4527/next-app/tags",
    blobs_url:
      "https://api.github.com/repos/khan4527/next-app/git/blobs{/sha}",
    git_tags_url:
      "https://api.github.com/repos/khan4527/next-app/git/tags{/sha}",
    git_refs_url:
      "https://api.github.com/repos/khan4527/next-app/git/refs{/sha}",
    trees_url:
      "https://api.github.com/repos/khan4527/next-app/git/trees{/sha}",
    statuses_url:
      "https://api.github.com/repos/khan4527/next-app/statuses/{sha}",
    languages_url: "https://api.github.com/repos/khan4527/next-app/languages",
    stargazers_url:
      "https://api.github.com/repos/khan4527/next-app/stargazers",
    contributors_url:
      "https://api.github.com/repos/khan4527/next-app/contributors",
    subscribers_url:
      "https://api.github.com/repos/khan4527/next-app/subscribers",
    subscription_url:
      "https://api.github.com/repos/khan4527/next-app/subscription",
    commits_url:
      "https://api.github.com/repos/khan4527/next-app/commits{/sha}",
    git_commits_url:
      "https://api.github.com/repos/khan4527/next-app/git/commits{/sha}",
    comments_url:
      "https://api.github.com/repos/khan4527/next-app/comments{/number}",
    issue_comment_url:
      "https://api.github.com/repos/khan4527/next-app/issues/comments{/number}",
    contents_url:
      "https://api.github.com/repos/khan4527/next-app/contents/{+path}",
    compare_url:
      "https://api.github.com/repos/khan4527/next-app/compare/{base}...{head}",
    merges_url: "https://api.github.com/repos/khan4527/next-app/merges",
    archive_url:
      "https://api.github.com/repos/khan4527/next-app/{archive_format}{/ref}",
    downloads_url: "https://api.github.com/repos/khan4527/next-app/downloads",
    issues_url:
      "https://api.github.com/repos/khan4527/next-app/issues{/number}",
    pulls_url:
      "https://api.github.com/repos/khan4527/next-app/pulls{/number}",
    milestones_url:
      "https://api.github.com/repos/khan4527/next-app/milestones{/number}",
    notifications_url:
      "https://api.github.com/repos/khan4527/next-app/notifications{?since,all,participating}",
    labels_url:
      "https://api.github.com/repos/khan4527/next-app/labels{/name}",
    releases_url:
      "https://api.github.com/repos/khan4527/next-app/releases{/id}",
    deployments_url:
      "https://api.github.com/repos/khan4527/next-app/deployments",
    created_at: "2023-01-06T03:18:07Z",
    updated_at: "2023-01-06T03:21:24Z",
    pushed_at: "2023-01-06T03:41:11Z",
    git_url: "git://github.com/khan4527/next-app.git",
    ssh_url: "git@github.com:khan4527/next-app.git",
    clone_url: "https://github.com/khan4527/next-app.git",
    svn_url: "https://github.com/khan4527/next-app",
    homepage: null,
    size: 79,
    stargazers_count: 0,
    watchers_count: 0,
    language: "CSS",
    has_issues: true,
    has_projects: true,
    has_downloads: true,
    has_wiki: true,
    has_pages: true,
    has_discussions: false,
    forks_count: 0,
    mirror_url: null,
    archived: false,
    disabled: false,
    open_issues_count: 0,
    license: null,
    allow_forking: true,
    is_template: false,
    web_commit_signoff_required: false,
    topics: [],
    visibility: "public",
    forks: 0,
    open_issues: 0,
    watchers: 0,
    default_branch: "main",
    score: 1,
  },
  {
    id: 585602015,
    node_id: "R_kgDOIueT3w",
    name: "ga-todo-app",
    full_name: "khan4527/ga-todo-app",
    private: false,
    owner: {
      login: "khan4527",
      id: 112844940,
      node_id: "U_kgDOBrngjA",
      avatar_url: "https://avatars.githubusercontent.com/u/112844940?v=4",
      gravatar_id: "",
      url: "https://api.github.com/users/khan4527",
      html_url: "https://github.com/khan4527",
      followers_url: "https://api.github.com/users/khan4527/followers",
      following_url:
        "https://api.github.com/users/khan4527/following{/other_user}",
      gists_url: "https://api.github.com/users/khan4527/gists{/gist_id}",
      starred_url:
        "https://api.github.com/users/khan4527/starred{/owner}{/repo}",
      subscriptions_url:
        "https://api.github.com/users/khan4527/subscriptions",
      organizations_url: "https://api.github.com/users/khan4527/orgs",
      repos_url: "https://api.github.com/users/khan4527/repos",
      events_url: "https://api.github.com/users/khan4527/events{/privacy}",
      received_events_url:
        "https://api.github.com/users/khan4527/received_events",
      type: "User",
      site_admin: false,
    },
    html_url: "https://github.com/khan4527/ga-todo-app",
    description: null,
    fork: true,
    url: "https://api.github.com/repos/khan4527/ga-todo-app",
    forks_url: "https://api.github.com/repos/khan4527/ga-todo-app/forks",
    keys_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/keys{/key_id}",
    collaborators_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/collaborators{/collaborator}",
    teams_url: "https://api.github.com/repos/khan4527/ga-todo-app/teams",
    hooks_url: "https://api.github.com/repos/khan4527/ga-todo-app/hooks",
    issue_events_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/issues/events{/number}",
    events_url: "https://api.github.com/repos/khan4527/ga-todo-app/events",
    assignees_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/assignees{/user}",
    branches_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/branches{/branch}",
    tags_url: "https://api.github.com/repos/khan4527/ga-todo-app/tags",
    blobs_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/git/blobs{/sha}",
    git_tags_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/git/tags{/sha}",
    git_refs_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/git/refs{/sha}",
    trees_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/git/trees{/sha}",
    statuses_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/statuses/{sha}",
    languages_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/languages",
    stargazers_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/stargazers",
    contributors_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/contributors",
    subscribers_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/subscribers",
    subscription_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/subscription",
    commits_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/commits{/sha}",
    git_commits_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/git/commits{/sha}",
    comments_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/comments{/number}",
    issue_comment_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/issues/comments{/number}",
    contents_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/contents/{+path}",
    compare_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/compare/{base}...{head}",
    merges_url: "https://api.github.com/repos/khan4527/ga-todo-app/merges",
    archive_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/{archive_format}{/ref}",
    downloads_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/downloads",
    issues_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/issues{/number}",
    pulls_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/pulls{/number}",
    milestones_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/milestones{/number}",
    notifications_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/notifications{?since,all,participating}",
    labels_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/labels{/name}",
    releases_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/releases{/id}",
    deployments_url:
      "https://api.github.com/repos/khan4527/ga-todo-app/deployments",
    created_at: "2023-01-05T15:35:28Z",
    updated_at: "2023-01-05T16:07:45Z",
    pushed_at: "2023-01-06T03:10:30Z",
    git_url: "git://github.com/khan4527/ga-todo-app.git",
    ssh_url: "git@github.com:khan4527/ga-todo-app.git",
    clone_url: "https://github.com/khan4527/ga-todo-app.git",
    svn_url: "https://github.com/khan4527/ga-todo-app",
    homepage: null,
    size: 351,
    stargazers_count: 0,
    watchers_count: 0,
    language: "JavaScript",
    has_issues: false,
    has_projects: true,
    has_downloads: true,
    has_wiki: true,
    has_pages: true,
    has_discussions: false,
    forks_count: 0,
    mirror_url: null,
    archived: false,
    disabled: false,
    open_issues_count: 0,
    license: null,
    allow_forking: true,
    is_template: false,
    web_commit_signoff_required: false,
    topics: [],
    visibility: "public",
    forks: 0,
    open_issues: 0,
    watchers: 0,
    default_branch: "main",
    score: 1,
  },
  {
    id: 566141749,
    node_id: "R_kgDOIb6jNQ",
    name: "survey_company_cwp02",
    full_name: "khan4527/survey_company_cwp02",
    private: false,
    owner: {
      login: "khan4527",
      id: 112844940,
      node_id: "U_kgDOBrngjA",
      avatar_url: "https://avatars.githubusercontent.com/u/112844940?v=4",
      gravatar_id: "",
      url: "https://api.github.com/users/khan4527",
      html_url: "https://github.com/khan4527",
      followers_url: "https://api.github.com/users/khan4527/followers",
      following_url:
        "https://api.github.com/users/khan4527/following{/other_user}",
      gists_url: "https://api.github.com/users/khan4527/gists{/gist_id}",
      starred_url:
        "https://api.github.com/users/khan4527/starred{/owner}{/repo}",
      subscriptions_url:
        "https://api.github.com/users/khan4527/subscriptions",
      organizations_url: "https://api.github.com/users/khan4527/orgs",
      repos_url: "https://api.github.com/users/khan4527/repos",
      events_url: "https://api.github.com/users/khan4527/events{/privacy}",
      received_events_url:
        "https://api.github.com/users/khan4527/received_events",
      type: "User",
      site_admin: false,
    },
    html_url: "https://github.com/khan4527/survey_company_cwp02",
    description: "This is my construct week project 2",
    fork: false,
    url: "https://api.github.com/repos/khan4527/survey_company_cwp02",
    forks_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/forks",
    keys_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/keys{/key_id}",
    collaborators_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/collaborators{/collaborator}",
    teams_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/teams",
    hooks_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/hooks",
    issue_events_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/issues/events{/number}",
    events_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/events",
    assignees_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/assignees{/user}",
    branches_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/branches{/branch}",
    tags_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/tags",
    blobs_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/git/blobs{/sha}",
    git_tags_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/git/tags{/sha}",
    git_refs_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/git/refs{/sha}",
    trees_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/git/trees{/sha}",
    statuses_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/statuses/{sha}",
    languages_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/languages",
    stargazers_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/stargazers",
    contributors_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/contributors",
    subscribers_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/subscribers",
    subscription_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/subscription",
    commits_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/commits{/sha}",
    git_commits_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/git/commits{/sha}",
    comments_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/comments{/number}",
    issue_comment_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/issues/comments{/number}",
    contents_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/contents/{+path}",
    compare_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/compare/{base}...{head}",
    merges_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/merges",
    archive_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/{archive_format}{/ref}",
    downloads_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/downloads",
    issues_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/issues{/number}",
    pulls_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/pulls{/number}",
    milestones_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/milestones{/number}",
    notifications_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/notifications{?since,all,participating}",
    labels_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/labels{/name}",
    releases_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/releases{/id}",
    deployments_url:
      "https://api.github.com/repos/khan4527/survey_company_cwp02/deployments",
    created_at: "2022-11-15T03:31:54Z",
    updated_at: "2022-11-15T03:33:44Z",
    pushed_at: "2022-11-15T03:33:39Z",
    git_url: "git://github.com/khan4527/survey_company_cwp02.git",
    ssh_url: "git@github.com:khan4527/survey_company_cwp02.git",
    clone_url: "https://github.com/khan4527/survey_company_cwp02.git",
    svn_url: "https://github.com/khan4527/survey_company_cwp02",
    homepage: null,
    size: 114,
    stargazers_count: 0,
    watchers_count: 0,
    language: "JavaScript",
    has_issues: true,
    has_projects: true,
    has_downloads: true,
    has_wiki: true,
    has_pages: false,
    has_discussions: false,
    forks_count: 0,
    mirror_url: null,
    archived: false,
    disabled: false,
    open_issues_count: 0,
    license: null,
    allow_forking: true,
    is_template: false,
    web_commit_signoff_required: false,
    topics: [],
    visibility: "public",
    forks: 0,
    open_issues: 0,
    watchers: 0,
    default_branch: "master",
    score: 1,
  },
  {
    id: 533116957,
    node_id: "R_kgDOH8a4HQ",
    name: "test",
    full_name: "khan4527/test",
    private: false,
    owner: {
      login: "khan4527",
      id: 112844940,
      node_id: "U_kgDOBrngjA",
      avatar_url: "https://avatars.githubusercontent.com/u/112844940?v=4",
      gravatar_id: "",
      url: "https://api.github.com/users/khan4527",
      html_url: "https://github.com/khan4527",
      followers_url: "https://api.github.com/users/khan4527/followers",
      following_url:
        "https://api.github.com/users/khan4527/following{/other_user}",
      gists_url: "https://api.github.com/users/khan4527/gists{/gist_id}",
      starred_url:
        "https://api.github.com/users/khan4527/starred{/owner}{/repo}",
      subscriptions_url:
        "https://api.github.com/users/khan4527/subscriptions",
      organizations_url: "https://api.github.com/users/khan4527/orgs",
      repos_url: "https://api.github.com/users/khan4527/repos",
      events_url: "https://api.github.com/users/khan4527/events{/privacy}",
      received_events_url:
        "https://api.github.com/users/khan4527/received_events",
      type: "User",
      site_admin: false,
    },
    html_url: "https://github.com/khan4527/test",
    description: "I Assignment1",
    fork: false,
    url: "https://api.github.com/repos/khan4527/test",
    forks_url: "https://api.github.com/repos/khan4527/test/forks",
    keys_url: "https://api.github.com/repos/khan4527/test/keys{/key_id}",
    collaborators_url:
      "https://api.github.com/repos/khan4527/test/collaborators{/collaborator}",
    teams_url: "https://api.github.com/repos/khan4527/test/teams",
    hooks_url: "https://api.github.com/repos/khan4527/test/hooks",
    issue_events_url:
      "https://api.github.com/repos/khan4527/test/issues/events{/number}",
    events_url: "https://api.github.com/repos/khan4527/test/events",
    assignees_url:
      "https://api.github.com/repos/khan4527/test/assignees{/user}",
    branches_url:
      "https://api.github.com/repos/khan4527/test/branches{/branch}",
    tags_url: "https://api.github.com/repos/khan4527/test/tags",
    blobs_url: "https://api.github.com/repos/khan4527/test/git/blobs{/sha}",
    git_tags_url: "https://api.github.com/repos/khan4527/test/git/tags{/sha}",
    git_refs_url: "https://api.github.com/repos/khan4527/test/git/refs{/sha}",
    trees_url: "https://api.github.com/repos/khan4527/test/git/trees{/sha}",
    statuses_url: "https://api.github.com/repos/khan4527/test/statuses/{sha}",
    languages_url: "https://api.github.com/repos/khan4527/test/languages",
    stargazers_url: "https://api.github.com/repos/khan4527/test/stargazers",
    contributors_url:
      "https://api.github.com/repos/khan4527/test/contributors",
    subscribers_url: "https://api.github.com/repos/khan4527/test/subscribers",
    subscription_url:
      "https://api.github.com/repos/khan4527/test/subscription",
    commits_url: "https://api.github.com/repos/khan4527/test/commits{/sha}",
    git_commits_url:
      "https://api.github.com/repos/khan4527/test/git/commits{/sha}",
    comments_url:
      "https://api.github.com/repos/khan4527/test/comments{/number}",
    issue_comment_url:
      "https://api.github.com/repos/khan4527/test/issues/comments{/number}",
    contents_url:
      "https://api.github.com/repos/khan4527/test/contents/{+path}",
    compare_url:
      "https://api.github.com/repos/khan4527/test/compare/{base}...{head}",
    merges_url: "https://api.github.com/repos/khan4527/test/merges",
    archive_url:
      "https://api.github.com/repos/khan4527/test/{archive_format}{/ref}",
    downloads_url: "https://api.github.com/repos/khan4527/test/downloads",
    issues_url: "https://api.github.com/repos/khan4527/test/issues{/number}",
    pulls_url: "https://api.github.com/repos/khan4527/test/pulls{/number}",
    milestones_url:
      "https://api.github.com/repos/khan4527/test/milestones{/number}",
    notifications_url:
      "https://api.github.com/repos/khan4527/test/notifications{?since,all,participating}",
    labels_url: "https://api.github.com/repos/khan4527/test/labels{/name}",
    releases_url: "https://api.github.com/repos/khan4527/test/releases{/id}",
    deployments_url: "https://api.github.com/repos/khan4527/test/deployments",
    created_at: "2022-09-06T01:29:05Z",
    updated_at: "2022-09-06T01:29:05Z",
    pushed_at: "2022-09-06T01:34:18Z",
    git_url: "git://github.com/khan4527/test.git",
    ssh_url: "git@github.com:khan4527/test.git",
    clone_url: "https://github.com/khan4527/test.git",
    svn_url: "https://github.com/khan4527/test",
    homepage: null,
    size: 0,
    stargazers_count: 0,
    watchers_count: 0,
    language: null,
    has_issues: true,
    has_projects: true,
    has_downloads: true,
    has_wiki: true,
    has_pages: false,
    has_discussions: false,
    forks_count: 0,
    mirror_url: null,
    archived: false,
    disabled: false,
    open_issues_count: 0,
    license: null,
    allow_forking: true,
    is_template: false,
    web_commit_signoff_required: false,
    topics: [],
    visibility: "public",
    forks: 0,
    open_issues: 0,
    watchers: 0,
    default_branch: "main",
    score: 1,
  },
  {
    id: 533113720,
    node_id: "R_kgDOH8areA",
    name: "git_we",
    full_name: "khan4527/git_we",
    private: false,
    owner: {
      login: "khan4527",
      id: 112844940,
      node_id: "U_kgDOBrngjA",
      avatar_url: "https://avatars.githubusercontent.com/u/112844940?v=4",
      gravatar_id: "",
      url: "https://api.github.com/users/khan4527",
      html_url: "https://github.com/khan4527",
      followers_url: "https://api.github.com/users/khan4527/followers",
      following_url:
        "https://api.github.com/users/khan4527/following{/other_user}",
      gists_url: "https://api.github.com/users/khan4527/gists{/gist_id}",
      starred_url:
        "https://api.github.com/users/khan4527/starred{/owner}{/repo}",
      subscriptions_url:
        "https://api.github.com/users/khan4527/subscriptions",
      organizations_url: "https://api.github.com/users/khan4527/orgs",
      repos_url: "https://api.github.com/users/khan4527/repos",
      events_url: "https://api.github.com/users/khan4527/events{/privacy}",
      received_events_url:
        "https://api.github.com/users/khan4527/received_events",
      type: "User",
      site_admin: false,
    },
    html_url: "https://github.com/khan4527/git_we",
    description: "IW Assignment",
    fork: false,
    url: "https://api.github.com/repos/khan4527/git_we",
    forks_url: "https://api.github.com/repos/khan4527/git_we/forks",
    keys_url: "https://api.github.com/repos/khan4527/git_we/keys{/key_id}",
    collaborators_url:
      "https://api.github.com/repos/khan4527/git_we/collaborators{/collaborator}",
    teams_url: "https://api.github.com/repos/khan4527/git_we/teams",
    hooks_url: "https://api.github.com/repos/khan4527/git_we/hooks",
    issue_events_url:
      "https://api.github.com/repos/khan4527/git_we/issues/events{/number}",
    events_url: "https://api.github.com/repos/khan4527/git_we/events",
    assignees_url:
      "https://api.github.com/repos/khan4527/git_we/assignees{/user}",
    branches_url:
      "https://api.github.com/repos/khan4527/git_we/branches{/branch}",
    tags_url: "https://api.github.com/repos/khan4527/git_we/tags",
    blobs_url: "https://api.github.com/repos/khan4527/git_we/git/blobs{/sha}",
    git_tags_url:
      "https://api.github.com/repos/khan4527/git_we/git/tags{/sha}",
    git_refs_url:
      "https://api.github.com/repos/khan4527/git_we/git/refs{/sha}",
    trees_url: "https://api.github.com/repos/khan4527/git_we/git/trees{/sha}",
    statuses_url:
      "https://api.github.com/repos/khan4527/git_we/statuses/{sha}",
    languages_url: "https://api.github.com/repos/khan4527/git_we/languages",
    stargazers_url: "https://api.github.com/repos/khan4527/git_we/stargazers",
    contributors_url:
      "https://api.github.com/repos/khan4527/git_we/contributors",
    subscribers_url:
      "https://api.github.com/repos/khan4527/git_we/subscribers",
    subscription_url:
      "https://api.github.com/repos/khan4527/git_we/subscription",
    commits_url: "https://api.github.com/repos/khan4527/git_we/commits{/sha}",
    git_commits_url:
      "https://api.github.com/repos/khan4527/git_we/git/commits{/sha}",
    comments_url:
      "https://api.github.com/repos/khan4527/git_we/comments{/number}",
    issue_comment_url:
      "https://api.github.com/repos/khan4527/git_we/issues/comments{/number}",
    contents_url:
      "https://api.github.com/repos/khan4527/git_we/contents/{+path}",
    compare_url:
      "https://api.github.com/repos/khan4527/git_we/compare/{base}...{head}",
    merges_url: "https://api.github.com/repos/khan4527/git_we/merges",
    archive_url:
      "https://api.github.com/repos/khan4527/git_we/{archive_format}{/ref}",
    downloads_url: "https://api.github.com/repos/khan4527/git_we/downloads",
    issues_url:
      "https://api.github.com/repos/khan4527/git_we/issues{/number}",
    pulls_url: "https://api.github.com/repos/khan4527/git_we/pulls{/number}",
    milestones_url:
      "https://api.github.com/repos/khan4527/git_we/milestones{/number}",
    notifications_url:
      "https://api.github.com/repos/khan4527/git_we/notifications{?since,all,participating}",
    labels_url: "https://api.github.com/repos/khan4527/git_we/labels{/name}",
    releases_url:
      "https://api.github.com/repos/khan4527/git_we/releases{/id}",
    deployments_url:
      "https://api.github.com/repos/khan4527/git_we/deployments",
    created_at: "2022-09-06T01:15:46Z",
    updated_at: "2022-09-06T01:22:47Z",
    pushed_at: "2022-09-06T01:27:12Z",
    git_url: "git://github.com/khan4527/git_we.git",
    ssh_url: "git@github.com:khan4527/git_we.git",
    clone_url: "https://github.com/khan4527/git_we.git",
    svn_url: "https://github.com/khan4527/git_we",
    homepage: null,
    size: 0,
    stargazers_count: 0,
    watchers_count: 0,
    language: "JavaScript",
    has_issues: true,
    has_projects: true,
    has_downloads: true,
    has_wiki: true,
    has_pages: false,
    has_discussions: false,
    forks_count: 0,
    mirror_url: null,
    archived: false,
    disabled: false,
    open_issues_count: 0,
    license: null,
    allow_forking: true,
    is_template: false,
    web_commit_signoff_required: false,
    topics: [],
    visibility: "public",
    forks: 0,
    open_issues: 0,
    watchers: 0,
    default_branch: "main",
    score: 1,
  },
];

*/