.main {
  margin: 0;
  padding: 0;
  background-color: #1a202c;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left > div {
  background-color: #2d3748;
  color: white;
  border-radius: 10px;
}

.bio {
  border-radius: 10px;
  background-color: #2d3748;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  padding: 20px 10px;
}

.bio > img {
  border-radius: 50%;
}

.btn {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn > div {
  padding: 10px 50px;
  border-radius: 50px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.bth > div:nth-child(1) {
  background-color: #9ae6b4;
}

.bth > div:nth-child(2) {
  background-color: #90cdf4;
}

.skills {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
}

.skills > div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #81e6d9;
  background-color: #308e81;
}

.edu {
  display: flex;
  flex-direction: column;
}

.edu > div {
  display: flex;
  align-items: center;
  padding: 20px;
}

.edu > div > div {
  padding: 20px;
}

.current {
  border: 2px solid #308e81;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 50%;
}

.right {
  width: 69%;
  background-color: #2d3748;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: white;
  padding: 20px;
  height: fit-content;
}

.repogrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 20px;
}
